@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');


.color2
{
    background: #f7d2d2;
    transform: 0.5s;
}

.Team
{

    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 1px;
    font: 1.5em sans-serif;
    line-height: 2em;
    letter-spacing: 0.2em;
    user-select: none;
    position: absolute;
    color: #fff;
    left:150vw;
    top: 35vh;

}
.Team2
{
    transition-duration: 0.5s;
}

.Team .a
{
    position: absolute;
    transform: rotate(15deg) skew(-20deg);
    width: 400px;
    height: 1000px;
    background: #Dbb4b4;
    top: -50px;
    left: -400px;
    box-shadow: 0 0 10px 10px #dbb4b4;
    z-index: -1;
}
.Team .b
{
    position: absolute;
    transform: rotate(15deg) skew(-20deg);
    width: 20px;
    height: 1000px;
    background: #Dbb4b4;
    top: 40px;
    left: 50px;
    box-shadow: 0 0 10px 10px #dbb4b4;
    z-index: -1;
}
.Team .c
{
    position: absolute;
    transform: rotate(15deg) skew(-20deg);
    width: 600px;
    height: 1000px;
    background: #Dbb4b4;
    top: 250px;
    left: 30px;
    box-shadow: 0 0 10px 10px #dbb4b4;
    z-index: -1;
}
